# 01 - itertools

In [5]:
from itertools import *

In [1]:
a = [1, 2, 3, 4, 5, 6]

In [2]:
# I convert the list to an iterator with the iter() method. 
b = iter(a)

In [12]:
# This is a way to iterate one by one item.
next(b)
# When the iteration finishes, it returns this Traceback error.

StopIteration:

In [3]:
# Or iterate via a for loop
for i in b:
    print(i)

1
2
3
4
5
6

# 02 What is itertools
---

## Categories
### Infinite Iterators 
`count()`  
`cycle()`  
`repeat()`   

### Iterators terminating on the shortest input sequence. 
`accumulate()`

### Combinatoric Iterators

In [2]:
# count() - Infinite iterator

a = count(0, 2)
d = 1

for i in a:
    if d > 10:
        break
    else:
        print(i)
    d += 1

0
2
4
6
8
10
12
14
16
18

In [7]:
# cycle() - Returns a copy of elements from the iterator. It only takes the iterator as the parameter
a = cycle([1, 2, 3, 4, 5])

In [11]:
d = 1
for i in a:
    if d > 10:
        break
    else:
        print(i)
    d += 1

4
5
1
2
3
4
5
1
2
3

In [17]:
# repeat() - Note: Once the iterator is used, it is recycled, it'll have to be redeclared if willing to use it again.
a = repeat(10, 3)
for i in a:
    print(i)
print("*" * 20)

10
10
10
********************

In [20]:
a = repeat(10)

In [21]:
d = 1
for i in a:
    if d > 10:
        break
    else:
        print(i)
    d += 1

10
10
10
10
10
10
10
10
10
10

In [22]:
"""
accumulate() - It'll terminate on the shortest input sequence.
It returns an accumulated sum of the sequences in the iterable.
It takes 2 arguments: interable, function; if no function is provided, it'll use the addition function.
"""
a = [1, 2, 3, 4, 5]
b = accumulate(a)
for i in b:
    print(i)

1
3
6
10
15

In [23]:
import operator

In [24]:
c = accumulate(a, operator.mul)
for i in c:
    print(i)

1
2
6
24
120

In [29]:
"""
Make an iterator that returns elements from the first iterable until it is exhausted, then proceeds to the next iterable,
until all of the iterables are exhausted. 

Used for treating consecutive sequences as a single sequence. 
"""

a = [1, 2, 3, 4, 5]
b = [2, 3, 4 ,5, 6]
c = [5, 5, 5, 5, 5]
d = chain(a, b, c)
for i in d:
    print(i)

1
2
3
4
5
2
3
4
5
6
5
5
5
5
5

In [30]:
name = "Julio"
lastname = "Briones"
c = chain(name, lastname)
for i in c:
    print(i)

J
u
l
i
o
B
r
i
o
n
e
s

In [31]:
"""
itertools.combinations(iterable, r)
    Return r length subsequences of elements from the input iterable.

    The combination tuples are emitted in lexicographic ordering according to the order of the input iterable. So, if the input iterable is sorted, the combination tuples will be produced in sorted order.

    Elements are treated as unique based on their position, not on their value. So if the input elements are unique, there will be no repeat values in each combination.
"""
name = "Charbelito"
lastname = "Briones"
c = combinations(name, 2)
for i in c:
    print(i)

('C', 'h')
('C', 'a')
('C', 'r')
('C', 'b')
('C', 'e')
('C', 'l')
('C', 'i')
('C', 't')
('C', 'o')
('h', 'a')
('h', 'r')
('h', 'b')
('h', 'e')
('h', 'l')
('h', 'i')
('h', 't')
('h', 'o')
('a', 'r')
('a', 'b')
('a', 'e')
('a', 'l')
('a', 'i')
('a', 't')
('a', 'o')
('r', 'b')
('r', 'e')
('r', 'l')
('r', 'i')
('r', 't')
('r', 'o')
('b', 'e')
('b', 'l')
('b', 'i')
('b', 't')
('b', 'o')
('e', 'l')
('e', 'i')
('e', 't')
('e', 'o')
('l', 'i')
('l', 't')
('l', 'o')
('i', 't')
('i', 'o')
('t', 'o')

In [33]:
input_string = "abc123&4/"
c = combinations(input_string, 5)
for i in c:
    print(i)

('a', 'b', 'c', '1', '2')
('a', 'b', 'c', '1', '3')
('a', 'b', 'c', '1', '&')
('a', 'b', 'c', '1', '4')
('a', 'b', 'c', '1', '/')
('a', 'b', 'c', '2', '3')
('a', 'b', 'c', '2', '&')
('a', 'b', 'c', '2', '4')
('a', 'b', 'c', '2', '/')
('a', 'b', 'c', '3', '&')
('a', 'b', 'c', '3', '4')
('a', 'b', 'c', '3', '/')
('a', 'b', 'c', '&', '4')
('a', 'b', 'c', '&', '/')
('a', 'b', 'c', '4', '/')
('a', 'b', '1', '2', '3')
('a', 'b', '1', '2', '&')
('a', 'b', '1', '2', '4')
('a', 'b', '1', '2', '/')
('a', 'b', '1', '3', '&')
('a', 'b', '1', '3', '4')
('a', 'b', '1', '3', '/')
('a', 'b', '1', '&', '4')
('a', 'b', '1', '&', '/')
('a', 'b', '1', '4', '/')
('a', 'b', '2', '3', '&')
('a', 'b', '2', '3', '4')
('a', 'b', '2', '3', '/')
('a', 'b', '2', '&', '4')
('a', 'b', '2', '&', '/')
('a', 'b', '2', '4', '/')
('a', 'b', '3', '&', '4')
('a', 'b', '3', '&', '/')
('a', 'b', '3', '4', '/')
('a', 'b', '&', '4', '/')
('a', 'c', '1', '2', '3')
('a', 'c', '1', '2', '&')
('a', 'c', '1', '2', '4')
('a', 'c', '1', '2', '/')
('a', 'c', '1', '3', '&')
('a', 'c', '1', '3', '4')
('a', 'c', '1', '3', '/')
('a', 'c', '1', '&', '4')
('a', 'c', '1', '&', '/')
('a', 'c', '1', '4', '/')
('a', 'c', '2', '3', '&')
('a', 'c', '2', '3', '4')
('a', 'c', '2', '3', '/')
('a', 'c', '2', '&', '4')
('a', 'c', '2', '&', '/')
('a', 'c', '2', '4', '/')
('a', 'c', '3', '&', '4')
('a', 'c', '3', '&', '/')
('a', 'c', '3', '4', '/')
('a', 'c', '&', '4', '/')
('a', '1', '2', '3', '&')
('a', '1', '2', '3', '4')
('a', '1', '2', '3', '/')
('a', '1', '2', '&', '4')
('a', '1', '2', '&', '/')
('a', '1', '2', '4', '/')
('a', '1', '3', '&', '4')
('a', '1', '3', '&', '/')
('a', '1', '3', '4', '/')
('a', '1', '&', '4', '/')
('a', '2', '3', '&', '4')
('a', '2', '3', '&', '/')
('a', '2', '3', '4', '/')
('a', '2', '&', '4', '/')
('a', '3', '&', '4', '/')
('b', 'c', '1', '2', '3')
('b', 'c', '1', '2', '&')
('b', 'c', '1', '2', '4')
('b', 'c', '1', '2', '/')
('b', 'c', '1', '3', '&')
('b', 'c', '1', '3', '4')
('b', 'c', '1', '3', '/')
('b', 'c', '1', '&', '4')
('b', 'c', '1', '&', '/')
('b', 'c', '1', '4', '/')
('b', 'c', '2', '3', '&')
('b', 'c', '2', '3', '4')
('b', 'c', '2', '3', '/')
('b', 'c', '2', '&', '4')
('b', 'c', '2', '&', '/')
('b', 'c', '2', '4', '/')
('b', 'c', '3', '&', '4')
('b', 'c', '3', '&', '/')
('b', 'c', '3', '4', '/')
('b', 'c', '&', '4', '/')
('b', '1', '2', '3', '&')
('b', '1', '2', '3', '4')
('b', '1', '2', '3', '/')
('b', '1', '2', '&', '4')
('b', '1', '2', '&', '/')
('b', '1', '2', '4', '/')
('b', '1', '3', '&', '4')
('b', '1', '3', '&', '/')
('b', '1', '3', '4', '/')
('b', '1', '&', '4', '/')
('b', '2', '3', '&', '4')
('b', '2', '3', '&', '/')
('b', '2', '3', '4', '/')
('b', '2', '&', '4', '/')
('b', '3', '&', '4', '/')
('c', '1', '2', '3', '&')
('c', '1', '2', '3', '4')
('c', '1', '2', '3', '/')
('c', '1', '2', '&', '4')
('c', '1', '2', '&', '/')
('c', '1', '2', '4', '/')
('c', '1', '3', '&', '4')
('c', '1', '3', '&', '/')
('c', '1', '3', '4', '/')
('c', '1', '&', '4', '/')
('c', '2', '3', '&', '4')
('c', '2', '3', '&', '/')
('c', '2', '3', '4', '/')
('c', '2', '&', '4', '/')
('c', '3', '&', '4', '/')
('1', '2', '3', '&', '4')
('1', '2', '3', '&', '/')
('1', '2', '3', '4', '/')
('1', '2', '&', '4', '/')
('1', '3', '&', '4', '/')
('2', '3', '&', '4', '/')

In [39]:
d = combinations(range(4), 3)
for i in d:
    print(i)

(0, 1, 2)
(0, 1, 3)
(0, 2, 3)
(1, 2, 3)

In [43]:
"""
compress()

    Make an iterator that filters elements from data returning only those that have a corresponding element in selectors that evaluates to True. 
    Stops when either the data or selectors iterables has been exhausted.
    It uses 2 parameters: selectors, iterables, each item which is false in the selector, it'll be eliminated.
"""
a = [1, 2, 3, 4, 5]
sel = [1, 0, 1, 0, 1]  # Remember that 0 or False or an empty string is returns false.
b = compress(a, sel)
for i in b:
    print(i)

1
3
5

In [44]:
"""
dropwhile()
    Make an iterator that drops elements from the iterable as long as the predicate(function) is true; afterwards, returns every element. 
    Note, the iterator does not produce any output until the predicate first becomes false, so it may have a lengthy start-up time.
"""
a = list(range(0, 100, 5))
b = dropwhile(lambda x: x < 20, a)
for i in b:
    print(i)

20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [45]:
"""
filterfalse()
    Make an iterator that filters elements from iterable returning only those for which the predicate is False. 
    If predicate is None, return the items that are false.
"""
# We can get the same result as in the previous example with dropwhile()
b = filterfalse(lambda x: x < 20, a)
for i in b:
    print(i)

20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [49]:
"""
islice()

    Make an iterator that returns selected elements from the iterable. 
    If start is non-zero, then elements from the iterable are skipped until start is reached. 
    Afterward, elements are returned consecutively unless step is set higher than one which results in items being skipped. 
    If stop is None, then iteration continues until the iterator is exhausted, if at all; otherwise, it stops at the specified position. 
    Unlike regular slicing, `islice()` does not support negative values for start, stop, or step. 
    Can be used to extract related fields from data where the internal structure has been flattened (for example, a multi-line report may list a name field on every third line). 
    
    In the example, it starts from 0 index to the 15th index and stepped by 3
"""

c = list(range(0, 100, 5))
print(c)
b = islice(c, 0, 15, 3)
for i in b:
    print(i)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
0
15
30
45
60

In [52]:
"""
starmap()

    Make an iterator that computes the function using arguments obtained from the iterable. 
    Used instead of map() when argument parameters are already grouped in tuples from a single iterable (the data has been “pre-zipped”). 
    The difference between map() and starmap() parallels the distinction between function(a,b) and function(*c). 
    
    In the example it takes the first value of each tuple and adds it 3, skipping the second value of the tuples.
"""

a = [(1, 2), (3, 4), (5, 6), (7, 8)]
b = starmap(lambda x, y: x+3, a)
for i in b:
    print(i)
    
c = starmap(lambda x, y: (x+5, y+2), a)
for i in c:
    print(i)

4
6
8
10
(6, 4)
(8, 6)
(10, 8)
(12, 10)

In [53]:
"""
takewhile()
    Make an iterator that returns elements from the iterable as long as the predicate is true.
"""
a = list(range(0, 100, 5))
b = takewhile(lambda x: x < 20, a)
for i in b:
    print(i)

0
5
10
15

In [55]:
"""
tee()

    Return n independent iterators from a single iterable.

    The following Python code helps explain what tee does (although the actual implementation is more complex and uses only a single underlying FIFO queue).
"""
a = [1, 2, 3, 4, 5]
at = iter(a)
b = tee(at, 5)
for i in b:
    print(list(i))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [57]:
"""
zip_longest()

    Make an iterator that aggregates elements from each of the iterables. 
    If the iterables are of uneven length, missing values are filled-in with fillvalue. 
    Iteration continues until the longest iterable is exhausted.
"""

a = [1, 3, 5, 7, 9, 11]
b = [2, 4, 6, 8]

c = zip_longest(a, b, fillvalue=10)
for i in c:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)
(11, 10)

In [60]:
"""
groupby()

    Make an iterator that returns consecutive keys and groups from the iterable. The key is a function computing a key value for each element. 
    If not specified or is None, key defaults to an identity function and returns the element unchanged. 
    Generally, the iterable needs to already be sorted on the same key function.

    The operation of groupby() is similar to the uniq filter in Unix. It generates a break or new group every time the value of the key function 
    changes (which is why it is usually necessary to have sorted the data using the same key function). 
    That behavior differs from SQL’s GROUP BY which aggregates common elements regardless of their input order.

    The returned group is itself an iterator that shares the underlying iterable with groupby(). 
    Because the source is shared, when the groupby() object is advanced, the previous group is no longer visible. 
"""

a = [(1, 2), (3, 4), (5, 6), (7, 8)]
func_key = lambda x: x[1]
b = groupby(a, func_key)
for i, k in b:
    print(i, list(k))
    
people = (("John", "Peter"), (), (), ())

2 [(1, 2)]
4 [(3, 4)]
6 [(5, 6)]
8 [(7, 8)]